
/* tldrPage */
#tldrPage {
    display: flex;
    flex-direction: column;
}
#tldrPage #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
#tldrPage .pageNavLink {
    text-decoration: underline;
}
#tldrPage .pageNavLink:hover {
    cursor: pointer;
}
#tldrPage ul {
    padding-top: 50px;
    list-style-type: none;
    text-align: end;
}
#tldrPage li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}
#tldrPage figure {
    margin: 0;
}
#tldrPage img {
    padding-top: 50px;
    width: 500px;
}

/* introPage */
#introPage {
    display: flex;
    flex-direction: column;
}
#introPage #meImages {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}
#introPage #me {
    max-width: 400px;
}
#introPage p {
    max-width: 400px;
}

/* educationPage */
#educationPage {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
#educationPage #campusImages {
    display: flex;
    flex-direction: column;
}
#educationPage p {
    width: 400px;
}
#educationPage img {
    width: 300px;
}
#educationPage figure {
    margin: 0;
}

/* Experience */
#experiencePage h2 {
    padding-bottom: 50px;;
}
#experiencePage h3 {
    margin: 0;
}
#experiencePage h4 {
    margin: 0;
    font-weight: normal;
}
#experiencePage #experiences {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
#experiencePage .experienceTitle {
    display: flex;
    gap: 25px;
    align-items: baseline;
}
#experiencePage img {
    width: 300px;
}
#experiencePage aside {
    padding-top: 50px;
}
#experiencePage figure {
    margin-left: 0;
}

/* projectsPage */

#fibBSPViTodoPage h2 {
    margin-bottom: 50px;
}
#fibBSPViTodoPage .fibBSPViTodoContent {
    display: flex;
    flex-direction: column;
}
#fibBSPViTodoPage img {
    width: 80%;
    align-self: flex-end;
}
#fibBSPViTodoPage h3 {
    align-self: flex-end;
}
#fibBSPViTodoPage p {
    width: calc(var(--max-width)/2);
    align-self: flex-end;
}

/* turiPage */
#turiPage p {
    width: 400px;
}
#turiPage #turiCol {
    display: flex;
    flex-direction: column;
}
#turiPage #turiRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#turiPage figure {
    margin: 0;
}
#turiPage .carImages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
#turiPage #turiGroup {
    width: 400px;
}
#turiPage #turiCar {
    width: 200px;
}
#turiPage #turiGif {
    width: 200px
}
#turiPage h3 {
    padding-top: 50px;
}

/* thisPage */
#thisPage {
    width: 400px;
}
#thisPage h3 {
    padding-top: 50px;
}

/* forFunPage */
#forFunPage .columns {
    display: flex;
    flex-direction: row;
}

#forFunPage img {
    width: 300px;
}