:root {
  font-size: calc(0.5em + 1vmin);
  line-height: calc(0.25em + 1.25vmin);
  margin: 1.4rem;
  position: relative;
}
a {
  color: black;
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}
h2,
h3,
h4 {
  font-weight: normal;
}
figcaption {
  font-style: italic;
  font-size: 0.5rem;
  padding-left: 0.1rem;
  line-height: calc(0.1em + 1vmin);
}
img {
  cursor: pointer;
}

#frontCover {
  padding: 1.4rem;
}
#frontCover h2 {
  margin: 0;
}
#frontCover figure {
  margin: 0;
  padding-top: 30%;
  margin-left: -1.4rem;
}
#frontCover #marion {
  width: calc(100% + 1.4rem);
}

#insideFrontCover {
  padding: 1.4rem;
  padding-top: calc(20% + 1.4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#insideFrontCover p {
  text-align: center;
  font-size: 0.8rem;
  width: 66%;
}
#insideFrontCover .date {
  position: absolute;
  bottom: 15%;
}
#insideFrontCover #star {
  display: block;
  margin: auto;
  width: 50%;
  padding-bottom: 1.4rem;
}

#tableOfContentsPage {
  position: absolute;
  width: calc(100% - 2 * 1.4rem);
  height: calc(100% - 2 * 1.4rem);
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}
#tableOfContentsPage ul {
  list-style-type: none;
  text-align: end;
}
#tableOfContentsPage li {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}
#tableOfContentsPage .pageNavLink {
  text-decoration: underline;
}
#tableOfContentsPage .pageNavLink:hover {
  cursor: pointer;
}
#tableOfContentsPage .backCover {
  font-style: italic;
  padding-top: 1.4rem;
}

#educationPage {
  display: flex;
  flex-direction: row;
  padding: 1.4rem;
  gap: 1.4rem;
}
#educationPage #campusImages {
  display: flex;
  flex-direction: column;
}
#educationPage p {
  width: 100%;
  font-size: 0.8rem;
}
#educationPage #campusDay {
  width: 100%;
}
#educationPage #firstAssignment {
  width: 100%;
}
#educationPage figure {
  margin: 0;
}

/* experience page */
#experiencePage {
  padding: 1.4rem;
}
#experiencePage #experiences {
  column-count: 2;
  column-gap: 1.4rem;
}
#experiencePage figure {
  margin-top: 0;
  margin-left: 0;
  margin-right: 1.4rem;
  margin-bottom: 1.4rem;
}
#experiencePage figcaption {
  margin-bottom: 0;
}
#experiencePage #researchAssistant {
  width: 100%;
}
#experiencePage p {
  font-size: 0.8rem;
}

#fibBSPViTodoPage {
  position: absolute;
  padding: 1.4rem;
  bottom: calc(2 * 1.4rem);
}
#fibBSPViTodoPage .fibBSPViTodoContent {
  display: flex;
  flex-direction: column;
}
#fibBSPViTodoPage #fibBSPViTodoDemo {
  aspect-ratio: 3456 / 2234; /* My desktop aspect ratio */
  width: 85%;
}
#fibBSPViTodoPage p {
  width: 66%;
  font-size: 0.8rem;
}

#turiPage {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
}
#turiPage h2 {
  text-align: end;
}
#turiPage #turiGroupFig {
  align-self: end;
  margin: 0;
  width: 66%;
}
#turiPage #turiGroupImg {
  width: 100%;
}
#turiPage #turiContent {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
}
#turiPage #turiContent p {
  font-size: 0.8rem;
  width: 70%;
}
#turiPage #carImages {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 0.25rem;
  margin-top: 1.4rem;
}
#turiPage #carImages figure {
  margin: 0;
}
#turiPage #carImages #turiGif {
  width: 100%;
}
#turiPage #carImages #turiCar {
  width: 100%;
}

#thisPage {
  width: 66%;
  padding: 1.4rem;
  font-size: 0.8rem;
}
#thisPage h2 {
  padding-top: calc(2 * 1.4rem);
}

#contributionPage {
  padding: 1.4rem;
  font-size: 0.8rem;
}
#contributionPage h2 {
  text-align: end;
}
#contributionPage article {
  column-count: 2;
  column-gap: 1.4rem;
}
#contributionPage p {
  margin-top: 0;
  font-size: 0.7rem;
}
#contributionPage figure {
  margin: 0;
}
#contributionPage #declareDemo {
  margin-bottom: 1.4rem;
  display: block;
  margin-left: auto;
}
#contributionPage #declareTemplate {
  width: 100%;
}
#contributionPage #desktopDemo {
  width: 100%;
  aspect-ratio: 3456 / 2234; /* My desktop aspect ratio */
}

#contactPage {
  padding: 1.4rem;
  padding-top: calc(1.4rem + 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contactPage #radarHouse {
  display: block;
  margin: auto;
  width: 66%;
  padding-bottom: 1.4rem;
}
#contactPage #thanks {
  text-align: center;
  font-size: 0.8rem;
  width: 66%;
}
#contactPage #contactInfo {
  margin: 0;
  padding: 0;
  padding-top: 5%;
  list-style-type: none;
  text-align: center;
}
#contactPage li {
  margin: calc(0.5 * 1.4rem);
}
#contactPage #githubLogo {
  width: calc(2 * 1.4rem);
  padding-top: 10%;
  padding-bottom: 1.4rem;
}
#contactPage #githubLogo:hover {
  filter: opacity(0.75);
}
