
:root {
    font-size: 2vh;
    line-height: 1em;
    margin: 1.4em;
    max-width: var(--max-width);
}
a {
    color: black;
    text-decoration: underline;
}
h2, h3, h4 {
    font-weight: normal;
}
figcaption {
    font-style: italic;
    font-size: 10px;
    line-height: 1em;
}

/* tldr page */
/* TODO:
    Name left margin
 */
#tldrPage {
    display: flex;
    flex-direction: column;
    padding: 1.4em;
}
#tldrPage #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
#tldrPage .pageNavLink {
    text-decoration: underline;
}
#tldrPage .pageNavLink:hover {
    cursor: pointer;
}
#tldrPage p {
    max-width: 250px;
    font-size: 0.7rem;
    text-align: end;
}
#tldrPage ul {
    padding-top: 2rem;
    list-style-type: none;
    text-align: end;
}
#tldrPage li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}
#tldrPage figure {
    margin: 0;
    max-width: 500px;
    margin-left: -1.4em;
}
#tldrPage img {
    padding-top: 1rem;
    width: 25rem;
}

/* intro page */
#introPage {
    display: flex;
    flex-direction: column;
    padding: 1.4em;
}
#introPage #meImages {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}
#introPage #me {
    max-width: 300px;
}
#introPage #terminalBrr {
    max-width: 200px;
}
#introPage p {
    max-width: 400px;
}

/*  education page */
#educationPage {
    display: flex;
    flex-direction: row;
    padding: 1.4em;
    gap: 50px;
}
#educationPage h2 {
    text-align: end;
}
#educationPage #campusImages {
    display: flex;
    flex-direction: column;
}
#educationPage p {
    max-width: 300px;
}
#educationPage img {
    max-width: 200px;
}
#educationPage figure {
    margin: 0;
}

/* experience page */
#experiencePage {
    padding: 1.4em;
}
#experiencePage h2 {
    padding-bottom: 50px;
}
#experiencePage h3 {
    margin: 0;
}
#experiencePage h4 {
    margin: 0;
    font-weight: normal;
}
#experiencePage #experiences {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
#experiencePage .experienceTitle {
    display: flex;
    gap: 12.5px;
    align-items: baseline;
}
#experiencePage img {
    max-width: 225px;
}
#experiencePage aside {
    padding-top: 25px;
}
#experiencePage p {
    font-size: 14px;
}
#experiencePage figure {
    margin-left: 0;
}

/* yea */
#fibBSPViTodoPage {
    padding: 1.4em;
}
#fibBSPViTodoPage h2 {
    text-align: end;
    margin-bottom: 100px;
}
#fibBSPViTodoPage .fibBSPViTodoContent {
    display: flex;
    flex-direction: column;
}
#fibBSPViTodoPage img {
    max-width: 80%;
    align-self: flex-end;
}
#fibBSPViTodoPage h3 {
    align-self: flex-end;
}
#fibBSPViTodoPage p {
    max-width: 350px;
    font-size: 14px;
    align-self: flex-end;
}

#turiPage {
    padding: 1.4em;
}
#turiPage p {
    font-size: 14px;
    max-width: 350px;
}
#turiPage #turiCol {
    display: flex;
    flex-direction: column;
}
#turiPage #turiRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#turiPage figure {
    margin: 0;
}
#turiPage .carImages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
#turiPage #turiGroup {
    max-width: 300px;
}
#turiPage #turiCar {
    max-width: 150px;
}
#turiPage #turiGif {
    max-width: 150px;
}
#turiPage h3 {
    padding-top: 50px;
}

#thisPage {
    max-width: 400px;
    padding: 1.4em;
}
#thisPage h3 {
    padding-top: 50px;
}

#forFunPage {
    padding: 1.4em;
}
#forFunPage p {
    font-size: 12px;
}
#forFunPage .columns {
    display: flex;
    flex-direction: row;
}

#forFunPage img {
    max-width: 150px;
}
