a {
  color: black;
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}
h2,
h3,
h4 {
  font-weight: normal;
}
figcaption {
  font-style: italic;
  font-size: 0.5rem;
  padding-left: 0.1rem;
  line-height: calc(0.1em + 1vmin);
}
img {
  cursor: pointer;
}

#frontCover img {
  width: 100px;
}
