.portfolioHeader {
    margin: 1em 0%;
    padding: 1em;
    text-align: left;
    background-image: url(../../image/behind-cleary.jpg);
    background-size: 100vw;
}

.headShot {
    width: 25vw;
    height: 25vh;
}

.contactInfo {
}

p {
    font-family: 'Helvetica';
    font-size: 5px;
    line-height: 1.4em;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 300px;
}

.columns {
    column-count: 2;
}