#resizer {
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: calc(100vh - 80px);
}

#testBox {
  position: relative;
  width: 148px;
  height: 210px;
  text-align: center;
  border: solid;
  box-sizing: border-box;
}
