#singlePageLayout {
  padding-bottom: 60px;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#singlePageLayout #singlePage {
  /* A5 Zine Aspect Ratio */
  width: 148px;
  height: 210px;
  box-shadow: 0 0 50px rgb(0 0 0 / 0.2);
}

#singlePageLayout .leftPageFlipper,
#singlePageLayout .rightPageFlipper {
  z-index: 1;
}
#singlePageLayout .leftPageFlipper {
  position: absolute;
  left: 0;
  width: 6px;
  height: 100%;
}
#singlePageLayout .leftPageFlipper:hover {
  cursor: w-resize;
  background-color: rgb(0 0 0 / 0.05);
}

#singlePageLayout .rightPageFlipper {
  position: absolute;
  right: 0;
  width: 6px;
  height: 100%;
}
#singlePageLayout .rightPageFlipper:hover {
  cursor: e-resize;
  background-color: rgb(0 0 0 / 0.05);
}

@keyframes blink {
  0% {
  }
  100% {
    background-color: rgb(0 0 0 / 0.1);
  }
}
.blink {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: 8;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
