/* if I need to move the entire header around later */
.header {
  margin-bottom: 2rem;
  padding: 1.4em;
}

.name {
  margin: 0%;
  margin-bottom: 0.1rem;
}

.nameImg {
  width: 250px;
  display: block;
}

.link {
  color: black;
  text-decoration: none;
}

.rootNav {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin: 0%;
}
.rootNavLink {
  color: grey;
  text-decoration: none;
  font-size: 18px;
}
.activeNavLink {
  color: black;
}
