/* hide arrow key indicator on devices that most likely do not have a keyboard */
@media (hover: none) {
  .arrowKeysIndicator {
    visibility: hidden;
  }
}

.arrowKeysIndicator {
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  height: 50px;
  width: 100px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.arrowKeysIndicator p {
  box-shadow: 0 0 50px rgb(0 0 0 / 0.2);
  background-color: white;
  text-align: center;
  margin: 0;
  border: solid;
  border-width: 0.5px;
  box-sizing: border-box;
}

.upArrow {
  grid-row: 1;
  grid-column: 2;
}
.downArrow {
  grid-row: 2;
  grid-column: 2;
}
.leftArrow {
  grid-row: 2;
  grid-column: 1;
}
.rightArrow {
  grid-row: 2;
  grid-column: 3;
}

@keyframes show {
  100% {
    visibility: visible;
  }
}

@keyframes blink {
  0% {
  }
  100% {
    background-color: rgb(0 0 0 / 0.1);
  }
}

.arrowKeysIndicator {
  animation-name: show;
  animation-duration: 0.5s;
  animation-iteration-count: 8;
  animation-direction: alternate;
}
.blink {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: 8;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
