#bookLayout {
  padding: 30px;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#bookLayout #book {
  display: flex;
  flex-direction: row;
}

#bookLayout .bookPage {
  /* A5 Zine Aspect Ratio */
  width: 148px;
  height: 210px;
  box-shadow: 0 0 50px rgb(0 0 0 / 0.2);
}

#bookLayout .rightPage,
#bookLayout .leftPage {
  position: relative;
}
#bookLayout .pageFlipper {
  z-index: 1;
}
#bookLayout .rightPage .pageFlipper {
  position: absolute;
  right: 0;
  width: 6px;
  height: 100%;
}
#bookLayout .rightPage .pageFlipper:hover {
  cursor: e-resize;
  background-color: black;
  opacity: 5%;
}

#bookLayout .leftPage .pageFlipper {
  position: absolute;
  left: 0;
  width: 6px;
  height: 100%;
}
#bookLayout .leftPage .pageFlipper:hover {
  cursor: w-resize;
  background-color: black;
  opacity: 5%;
}
