#book {
    display: flex;
    flex-direction: row;
    font-family: 'Alegreya';
    font-size: 16px;
    margin: 1.4em;
    justify-content: center;
}

/* TODO: Fix the height of page and click bars */
#book .bookPage {
    aspect-ratio: 148 / 210;    /* A5 Zine Aspect Ratio */
    height: 80vh;
    box-shadow: 0 0 50px rgb(0 0 0 / 0.2);
}
#book .rightPage,
#book .leftPage {
    position: relative;
}
#book .rightPage .pageFlipper {
    position: absolute;
    right: 0;
    width: 1.4em; 
    height: 80vh; 
}
#book .rightPage .pageFlipper:hover {
    cursor: e-resize;
    background-color: black;
    opacity: 5%;
}

#book .leftPage .pageFlipper {
    position: absolute;
    left: 0;
    width: 1.4em; 
    height: 80vh;
}
#book .leftPage .pageFlipper:hover {
    cursor: w-resize;
    background-color: black;
    opacity: 5%;
}