#book {
    display: flex;
    flex-direction: row;
    font-family: 'Alegreya';
    font-size: 16px;
    margin: 1.4em;
    justify-content: center;
}

#book .bookPage {
    aspect-ratio: 148 / 210;    /* A5 Zine Aspect Ratio */
    height: 80vh;
}

#book .rightPage .pageFlipper {
    z-index: 2;
    position: absolute;
    right: 0;
    border: solid;
    width: 100px;
    height: 80vh;
}

#book .leftPage .pageFlipper {
    z-index: 2;
    position: absolute;
    left: 0;
    border: solid;
    width: 100px;
    height: 80vh;
}