@font-face {
    font-family: GrotesqueMT;
    src: url("./font/GrotesqueMT.otf") format("opentype");
}
@font-face {
    font-family: GrotesqueMT;
    font-weight: bold;
    src: url("./font/GrotesqueMT-Bold.otf") format("opentype");
}

@font-face {
    font-family: BrieteGrotesk;
    src: url("./font/breite-grotesk-regular.otf") format("opentype");
}

@font-face {
    font-family: SuisseWorks;
    src: url("./font/SuisseWorks-Regular.ttf");
}

/* @font-face {
    font-family: Alegreya;
    src: url("./font/Alegreya-Regular.ttf");
} */

body {
    font-family: 'Alegreya';
}